.Button {
  border-radius: var(--border-radius);
  border: var(--border-size) solid transparent;
  padding: var(--size-m) var(--size-l);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.Button:focus-visible {
  outline: none;
}

.Button:hover {
  border-color: var(--highlight-color);
}

.Button--Icon {
  padding: var(--size-m);
  background: none;
  border: none;
}
