.Text {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.Text--HeadingLarge {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.Text--HeadingMedium {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.Text--HeadingSmall {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.01em;
}

.Text--Muted {
  color: var(--text-color-muted);
}

.Text--BodySmall {
  font-size: 1rem;
}
