.Text {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.Text--Heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.Text--Muted {
  color: var(--text-color-muted);
}

.Text--Body-Small {
  font-size: 1rem;
}
