.ToDo {
  display: flex;
  align-items: center;
  padding: var(--size-m);
  gap: var(--size-s);
  cursor: pointer;
  outline: 1px dashed white;
}

.ToDo--Done p {
  text-decoration: line-through;
  color: var(--text-color-done);
  transition: color 0.2s ease;
}

.ToDoInput {
  border-radius: var(--border-radius);
  padding: var(--size-s);
}

.ToDo .Button--Icon {
  padding: 0;
  background: none;
}
