.ToDo {
  display: flex;
  align-items: center;
  gap: var(--size-s);
  cursor: pointer;
}

.ToDo--Done p {
  text-decoration: line-through;
  color: var(--text-color-done);
  transition: color 0.2s ease;
}

.ToDoInput {
  border-radius: var(--border-radius);
}
