.ToDo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-m);
  gap: var(--size-l);
  border: var(--border-size) var(--border-style-secondary) var(--border-color);
}

.ToDo__Content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--size-m);
  cursor: pointer;
}

.ToDo__Text {
  position: relative;
  width: 100%;
}

.ToDo__DraggableArea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ToDo__Actions {
  display: flex;
  gap: var(--size-s);
}

.ToDo__Input {
  border-radius: var(--border-radius);
  padding: var(--size-s);
}

.ToDo__PriorityIndicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--indicator-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
}

.ToDo__CreatedAt {
  position: absolute;
  top: 0;
  left: 50%;
  padding: var(--size-xs) var(--size-s);
  background-color: var(--background-color);
  border-radius: var(--border-radius-max);
  border: var(--border-size) var(--border-style) var(--border-color);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ToDo:hover .ToDo__CreatedAt {
  opacity: 1;
}
