.ToDo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-m);
  gap: var(--size-l);
  outline: 1px dashed white;
}

.ToDo__Content {
  display: flex;
  gap: var(--size-s);
  cursor: pointer;
}

.ToDo__Actions {
  display: flex;
  gap: var(--size-s);
}

.ToDo__Input {
  border-radius: var(--border-radius);
  padding: var(--size-s);
}
