#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-l);
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.Settings {
  display: flex;
}
