:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Put css variables here */
  --background-color: rgb(36, 36, 36);

  --text-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color-muted: rgb(136, 136, 136);

  --success: rgb(115, 255, 115);
  --warning: rgb(255, 201, 101);
  --danger: rgb(255, 120, 120);

  --highlight-color: rgb(100, 108, 255);
  --highlight-color-hover: rgb(83, 91, 242);

  --size-xs: 2px;
  --size-s: 4px;
  --size-m: 8px;
  --size-l: 16px;
  --size-xl: 24px;

  --border-size: 1px;
  --border-style: solid;
  --border-style-secondary: dashed;
  --border-color: rgb(255, 255, 255);
  --border-radius-s: 4px;
  --border-radius: 8px;
  --border-radius-max: 100vmax;

  /* Components */

  /* Badge */
  --badge-text-color: rgb(255, 255, 255);
  --badge-border-active-color: rgb(255, 255, 255);

  /* Button */
  --button-background-color: rgb(26, 26, 26);

  /* Checkbox */
  --checkbox-background-color: rgb(26, 26, 26);
  --checkbox-size: 24px;

  /* ToDo */
  --todo-background: rgb(87, 87, 87);
}

a {
  font-weight: 500;
  color: var(--highlight-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--highlight-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

del {
  color: var(--text-color-muted);
}

.u-Hidden {
  display: none !important;
}

.u-NoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.MainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: var(--size-l);
}

.Column {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128, 0.2);
}

.Column__Header {
  padding: var(--size-l) var(--size-l);
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

.Column__Area {
  display: flex;
  flex-direction: column;
  gap: var(--size-l);
  padding: var(--size-l) var(--size-l);
  min-height: 200px;
}
